<h1>Payment Request</h1>
<p><%= @payment_request %></p>
<p/>
<h3>Main Fields</h3>
<p/>
<table>
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Merchand ID</td>
        <td><%= @merchant_id %></td>
    </tr>
    <tr>
        <td>Customer ID</td>
        <td><%= @customer_id %></td>
    </tr>
    <tr>
        <td>Amount</td>
        <td><%= @amount %></td>
    </tr>
    <tr>
        <td>Currency</td>
        <td><%= @currency %></td>
    </tr>
    <tr>
        <td>Type Field 1</td>
        <td><%= @type_field_1 %></td>
    </tr>
    <tr>
        <td>Security ID</td>
        <td><%= @security_id %></td>
    </tr>
    <tr>
        <td>Type Field 2</td>
        <td><%= @type_field_2 %></td>
    </tr>
    <tr>
        <td>Return URL</td>
        <td><%= @return_url %></td>
    </tr>
    <tr>
        <td>Checksum</td>
        <td><%= @checksum %></td>
    </tr>
</table>
<p/>
<h3>Additional Fields</h3>
<p/>
<table>
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Additional Info 1</td>
        <td><%= @additional_info_1 %></td>
    </tr>
    <tr>
        <td>Additional Info 2</td>
        <td><%= @additional_info_2 %></td>
    </tr>
    <tr>
        <td>Additional Info 3</td>
        <td><%= @additional_info_3 %></td>
    </tr>
    <tr>
        <td>Additional Info 4</td>
        <td><%= @additional_info_4 %></td>
    </tr>
    <tr>
        <td>Additional Info 5</td>
        <td><%= @additional_info_5 %></td>
    </tr>
    <tr>
        <td>Additional Info 6</td>
        <td><%= @additional_info_6 %></td>
    </tr>
    <tr>
        <td>Additional Info 7</td>
        <td><%= @additional_info_7 %></td>
    </tr>
</table>
<p/>
<form id="return_success" name='return_success' method='POST'
    action='<%= @return_url %>'>
    <input type='hidden' name='msg' value='<%= @success_msg %>' />
    <input id='success-button' type='submit' value='Success'/>
</form>
<form id="return_success" name='return_success' method='POST'
    action='<%= @return_url %>'>
    <input type='hidden' name='msg' value='<%= @failure_msg %>' />
    <input id='failure-button' type='submit' value='Failure'/>
</form>
<form id="return_success" name='return_success' method='POST'
    action='<%= @return_url %>'>
    <input type='hidden' name='msg' value='<%= @invalid_msg %>' />
    <input id='invalid-button' type='submit' value='Invalid'/>
</form>
