// Place all the styles related to the payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table
{
    border-collapse:collapse;
}

table,th, td
{
    border: 1px solid black;
    padding: 5px;
}

#success-button
{
    background-color: transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #268a16;
    display: inline-block;
    color: #306108;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #aade7c;
    float: left;
}


#failure-button
{
    background-color: #fe1a00;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #d83526;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #b23e35;
    float: left;
}
#invalid-button
{
    background-color: yellow;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #d83526;
    display: inline-block;
    color: black;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #b23e35;
    float: left;
}
